.vs/
.vscode/
bin/
bin-int/
OpenGLEngine/vendor/assimp/bin/
OpenGLEngine/vendor/assimp/bin-int/
OpenGLEngine/vendor/Glad/bin/
OpenGLEngine/vendor/Glad/bin-int/
OpenGLEngine/vendor/GLFW/bin/
OpenGLEngine/vendor/GLFW/bin-int/
OpenGLEngine/vendor/imgui/bin/
OpenGLEngine/vendor/imgui/bin-int/

*.user
*.vcxproj
*.filters
*.sln
*.ini
*.exe

**/Makefile
