.vs/
.vscode/

bin/
bin-int/
Intermediates/

OpenGLEngine/vendor/assimp/bin/
OpenGLEngine/vendor/assimp/bin-int/
OpenGLEngine/vendor/Glad/bin/
OpenGLEngine/vendor/Glad/bin-int/
OpenGLEngine/vendor/GLFW/bin/
OpenGLEngine/vendor/GLFW/bin-int/
OpenGLEngine/vendor/imgui/bin/
OpenGLEngine/vendor/imgui/bin-int/

**.user
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.sln
**.ini
**.exe

**/Makefile
